<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Posts</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<h2>Agregar Post</h2>
		<form action="#" th:action="@{/save}" th:object="${post}"
			method="post">
			<div class="form-group">
				<label for="titulo">Titulo</label> <input type="text"
					class="form-control" id="titulo" th:field="*{titulo}" name="titulo">
			</div>
			<input type="hidden" th:field="*{ID}" name="ID" id="ID">
			<div class="form-group">
				<label for="titulo">Contenido</label> <input type="text"
					class="form-control" id="contenido" th:field="*{contenido}"
					name="contenido">
			</div>

			<div class="form-group">
				<label for="titulo">Imagen</label> <input type="text"
					class="form-control" id="imagen" th:field="*{imagen}"
					name="imagen">
			</div>

			<div class="form-group">
				<label for="titulo">Categoria</label> <input type="text"
					class="form-control" id="categoria" th:field="*{categoria}"
					name="categoria">
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</body>
</html>